name: Main

on: workflow_dispatch

jobs:
  Build:
    strategy:
      matrix:
        include:
          - name: Android
            os: ubuntu-22.04
            buildArgs: "android -ONLY_ARMV7"
            assetType: ASTC
            artifactName: androidBuild
            artifactPath: "export/release/android/bin/app/build/outputs/apk/release/*.apk"
    uses: ./.github/workflows/build.yml
    with:
      name: ${{ matrix.name }}
      os: ${{ matrix.os }}
      buildArgs: ${{ matrix.buildArgs }}
      assetType: ${{ matrix.assetType }}
      artifactName: ${{ matrix.artifactName }}
      artifactPath: ${{ matrix.artifactPath }}
      setupCommand: sh ./setup/unix.sh
